body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.imageFixed {
  left: '25px';
  border: '3px solid #73AD21';
  padding: '10px';
}
